{% extends "game/base_subpage.html" %}

{% block title %}Rules{% endblock title %}

{% block data %}
  <ol>
    <li> Każda osoba jest zabójcą i ma wskazany cel, który ma zabić. Po zabiciu swojej ofiary, przejmujemy jej zlecenie </li>
    <li> Zabicie następuje, gdy znajdziemy się sam na sam z naszą ofiarą bez żadnych świadków, przez powiedzenie "Zabijam Cię" </li>
    <li> Każda osoba po zostaniu zabitym ma obowiązek okazać kod QR bądź sekretny kod swojemu zabójcy </li>
    <li> Wszystkie zlecenia są ułożone w cykl; na samym końcu pozostają dwie żywe osoby </li>
    <li> Gra jest przerywana na czas ciszy nocnej. Nie można zabijać w godzinach 22-8 </li>
    <li> Nie można zabijać w toaletach/łazienkach </li>
  </ol>
{% endblock data %}
