{% extends "game/base_subpage.html" %}

{% block title %}Game finished{% endblock title %}

{% block data %}
  <p>Most kills: <b>{{best_killer}}</b> ({{best_killer.kills}} kills)</p>
  <p>Survived till the end: </p>
  <ul>
    {%for survivor in survivors%}
      <li><b>{{survivor}}</b> ({{survivor.kills}} {% if best_killer.kills == 1%}kill{% else %}kills{%endif%})</li>
    {%endfor%}
  </ul>
  {% if player %}
  <p><a id='back' href="{% url 'game:profile' player.signature %}"><code>&lt;profile&gt;</code></a></p>
  {% endif %}
{% endblock data %}
